<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
    <!-- Navbar -->
    {% with "Add Your Music" as namepage  %}
        {% include 'navbar.html' %}
    {% endwith %}
    
    {% if save %}
	<p> Musique enregistree !!! </p>
    {% endif %}

    <div class="container">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">New music file (mp3, wav)</legend>
            <form role="form" action="{% url 'webgui.views.addmusic' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                  {{ form.non_field_errors }}
                  <div class="form-group">
                    {{ form.subject.errors }}  
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name ="name"id="name" placeholder="Pink Floyd - The Wall">
                  </div>
                  <div class="form-group">
                    {{ form.subject.errors }}  
                    <label for="path">Destination path of music file</label>
                    <input type="text" name="path" class="form-control" id="path" placeholder="Example : /music">
                  </div>
		  
		  <div class="form-group">
                    {{ form.subject.errors }}
                    <label for="fichier">Browse and select a file on your computer</label>
                    <input type="file" id="fichier">
                  </div>
		<div>
                 <button type="submit" class="btn btn-primary">Add</button>
		</div>
            </form>
        </fieldset >   
           
    </div>
    
  </body>
</html>
