<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
    <!-- Navbar -->
    {% with "Alarm clock" as namepage  %}
        {% include 'navbar.html' %}
    {% endwith %}
    
    <div class="container">
         <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="{% url 'webgui.views.create_alarmclock' %}" style="margin-bottom: 3px" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></a>  Alarm clock</legend>
            <!-- list of saved web radio -->

            <table class="table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Day of week</th>
                        <th>Time</th>
                        <th>Mode</th>
                        <th>Play</th>
                        <th>Edit</th>
                        <th>Active</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alarmclock in listAlarm %}
                        <tr>
                            <th>
                                {{alarmclock.label}}
                            </th>
                            <th>
                               <div class="col-xs-1"><span class="text-{% if "1" in alarmclock.period  %}primary{% else %}muted{% endif %}">Mo</span></div>                      
                               <div class="col-xs-1"><span class="text-{% if "2" in alarmclock.period  %}primary{% else %}muted{% endif %}">Tu</span></div>
                               <div class="col-xs-1"><span class="text-{% if "3" in alarmclock.period  %}primary{% else %}muted{% endif %}">We</span></div>
                               <div class="col-xs-1"><span class="text-{% if "4" in alarmclock.period  %}primary{% else %}muted{% endif %}">Th</span></div>
                               <div class="col-xs-1"><span class="text-{% if "5" in alarmclock.period  %}primary{% else %}muted{% endif %}">Fr</span></div>
                               <div class="col-xs-1"><span class="text-{% if "6" in alarmclock.period  %}primary{% else %}muted{% endif %}">Sa</span></div>
                               <div class="col-xs-1"><span class="text-{% if "0" in alarmclock.period  %}primary{% else %}muted{% endif %}">Su</span></div>
                            </th>
                            <th>
                                
                                {% if alarmclock.hour < 10 %}
                                    0{{alarmclock.hour}}
				{% else %}
					{{alarmclock.hour}}
                                {% endif %}
                                :
                                {% if alarmclock.minute < 10 %}
                                    0{{alarmclock.minute}}
				{% else %}
					{{alarmclock.minute}}
                                {% endif %}
                                
                            </th>
                            <th>
                                <!-- {{alarmclock.webradio.name}}  -->
                                {{alarmclock.mode}}
                            </th>
			    <th>
                            {% if alarmclock.mode == "music" %}
                                Random Choice :)
                            {% else %}
                                {{alarmclock.webradio.name}}
                            {% endif %}
                            </th>

                            <th>
                               <a href="{% url 'webgui.views.update_alarmclock' alarmclock.id %}" style="margin-bottom: 3px" type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                               </a>
                            </th>
                            <th>
                                <a href="{% url 'webgui.views.activeAlarmClock' alarmclock.id %}"style="margin-bottom: 3px" type="button" class="btn btn-{% if alarmclock.active == True %}primary{% else %}default{% endif %} btn-sm">
                                    <span class="glyphicon {% if alarmclock.active == True %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span>
                                </a> 
                            </th>
                            <th>
                                <a href="{% url 'webgui.views.deleteAlarmClock' alarmclock.id %}"style="margin-bottom: 3px" type="button" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a> 
                            </th>
                        </tr>
                    {% empty %}
                        <p class="lead text-primary">No alarm clock set yet.</p>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset >  
    </div>
    
  </body>
</html>
