<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
    <!-- Navbar -->
    {% with "Add alarm clock" as namepage  %}
        {% include 'navbar.html' %}
    {% endwith %}

    <div class="container">
        <div class="page-header">
          <h1>Add alarm clock</h1>
        </div>

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field in form %}
                    {% if field.errors %}
                    <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <form class="form-horizontal" action="{% url 'webgui.views.create_alarmclock' %}" method="post">{% csrf_token %}

            {% for field in form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    <label for="{{field.name}}" class="col-sm-2 control-label">
                        {{ field.label }}
                    </label>
                    <div class="col-sm-4">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <!-- validate button -->
                    <button class="btn btn-success" type="submit">
                        <span class="glyphicon glyphicon-ok"></span>
                        Add the AlarmClock
                    </button>

                </div>
            </div>
        </form>
    </div>

  </body>
</html>
