<!DOCTYPE html>
<html>
  <head>
    <title>Piclodio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Boostrap -->
    <script src="{{ STATIC_URL }}/dist/js/bootstrap.min.js"></script>
    <!-- personal js -->
    <script src="{{ STATIC_URL }}webradio.js"></script>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="navbar-brand" href="{% url 'webgui.views.homepage' %}">Piclodio</a><p class="navbar-text">Debug</p>
        </nav>
    <div class="container">
         <fieldset class="scheduler-border">
            <legend class="scheduler-border">Crontab debug</legend>

        </fieldset >
    </div>

  </body>
</html>
