<head>
    <title>Multi-Reveil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery  -->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <!-- Boostrap -->
    <script src="{{ STATIC_URL }}dist/js/bootstrap.min.js"></script>
    <!-- Option Script -->
    <!-- <script src="{{ STATIC_URL }}options.js"></script> -->
    <!-- personal CSS -->
    <link href="{{ STATIC_URL }}piclodio.css" rel="stylesheet">


    <!-- CSS for Music Uploader Design -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/bootstrap-responsive.min.css"> -->
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <!--  <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/bootstrap-image-gallery.min.css">  -->
    <link rel="stylesheet" href="{{ STATIC_URL }}dist/css/jquery.fileupload-ui.css">

</head>
