<!DOCTYPE html>
<html>
  <head>
    <title>Piclodio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery  -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Boostrap -->
    <script src="{{ STATIC_URL }}/dist/js/bootstrap.min.js"></script>
    <!-- personal js -->
    <script src="{{ STATIC_URL }}homepage.js"></script>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <a class="navbar-brand" href="{% url 'webgui.views.homepage' %}">Piclodio</a><p class="navbar-text">Home</p>
        <a href="{% url 'webgui.views.options' %}" style="float: right;margin-right:20px" type="button" class="btn btn-default navbar-btn">Options</a>
    </nav>
    
    <div class="container">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="{% url 'webgui.views.homepage' %}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span></a>  Rpi date and time</legend>
            <div style="text-align: center">
                
                <strong class="text-primary">{% now "H:i" %}</strong></br>
                <strong class="text-primary">{% now "jS F Y" %}</strong> 
            </div>    
        </fieldset>
        </br>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="{% url 'webgui.views.alarmclock' %}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-cog"></span></a>  Alarm clock</legend>
            <table class="table">
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Day of week</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alarmclock in listalarmclock %}
                        {% if alarmclock.active == True %}
                            <tr>
                                <th>
                                    {{alarmclock.label}}
                                </th>
                                <th>
                                    <div class="col-xs-1"><span class="text-{% if "1" in alarmclock.period  %}primary{% else %}muted{% endif %}">Mo</span></div>                      
                                    <div class="col-xs-1"><span class="text-{% if "2" in alarmclock.period  %}primary{% else %}muted{% endif %}">Tu</span></div>
                                    <div class="col-xs-1"><span class="text-{% if "3" in alarmclock.period  %}primary{% else %}muted{% endif %}">We</span></div>
                                    <div class="col-xs-1"><span class="text-{% if "4" in alarmclock.period  %}primary{% else %}muted{% endif %}">Th</span></div>
                                    <div class="col-xs-1"><span class="text-{% if "5" in alarmclock.period  %}primary{% else %}muted{% endif %}">Fr</span></div>
                                    <div class="col-xs-1"><span class="text-{% if "6" in alarmclock.period  %}primary{% else %}muted{% endif %}">Sa</span></div>
                                    <div class="col-xs-1"><span class="text-{% if "0" in alarmclock.period  %}primary{% else %}muted{% endif %}">Su</span></div>
                                 </th>
                                <th>
                                {% if alarmclock.hour < 10 %}
                                    0{{alarmclock.hour}}
				{% else %}
					{{alarmclock.hour}}
                                {% endif %}
                                :
                                {% if alarmclock.minute < 10 %}
                                    0{{alarmclock.minute}}
				{% else %}
					{{alarmclock.minute}}
                                {% endif %}
                                </th>
                            </tr>
                          {% endif %}  
                     {% endfor %}
                </tbody>
            </table>
        </fieldset>
      
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="{% url 'webgui.views.webradio' %}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-cog"></span></a>  Web radio </legend>
            <p style="text-align: center;"class="lead {% if player.status == True %}text-primary{% endif %}">{{radio.name}}</p>
            {% if radio != None  %}
                <div class="btn-group btn-group-justified" style="margin-bottom: 20px">
                    <a href="{% url 'webgui.views.play' radio.id %}" id="play" class="btn btn-{% if player.status == True %}primary{% else %}default{% endif %} btn-lg">Play</a>
                    <a href="{% url 'webgui.views.stop'  %}" id="stop" class="btn btn-{% if player.status == False %}primary{% else %}default{% endif %} btn-lg">Stop</a>
                </div>
            {% endif %}  
        </fieldset>    
    </div>
    
  </body>
</html>
