<!DOCTYPE html>
<html>
    <head>
        <title>Piclodio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ STATIC_URL }}/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery  -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Boostrap -->
        <script src="{{ STATIC_URL }}/dist/js/bootstrap.min.js"></script>
        <!-- personal js -->
        <script src="{{ STATIC_URL }}webradio.js"></script>
    </head>
    <body>
       <!-- Header -->
       <nav class="navbar navbar-default navbar-static-top" role="navigation">
           <a class="navbar-brand" href="{% url 'webgui.views.homepage' %}">Piclodio</a><p class="navbar-text">Options</p>
           <a href="{% url 'webgui.views.options' %}" style="float: right;margin-right:20px" type="button" class="btn btn-default navbar-btn">Debug</a>
           </nav>
       <div class="container">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Volume</legend>
		<p>Current volume value : {{ currentVolume }}</p>
   		<div class="btn-group btn-group-lg btn-group-justified" style="margin-bottom:15px;">
		  <a href="{% url 'webgui.views.volumetmute' %}" class="btn btn-default">Mute {{ currentMute }}</a>
		</div>
   		<div class="btn-group btn-group-lg btn-group-justified" style="margin-bottom:15px;">
		  <a href="{% url 'webgui.views.volumeset' '20'%}" class="btn btn-default">20</a>
 		  <a href="{% url 'webgui.views.volumeset' '40'%}" class="btn btn-default">40</a>
		  <a href="{% url 'webgui.views.volumeset' '60'%}" class="btn btn-default">60</a>
		  <a href="{% url 'webgui.views.volumeset' '80'%}" class="btn btn-default">80</a>
		  <a href="{% url 'webgui.views.volumeset' '100'%}" class="btn btn-default">100</a>
		</div>
   		<div class="btn-group btn-group-lg btn-group-justified" style="margin-bottom:15px;">
		  <a href="{% url 'webgui.views.volumedown' '5'%}" class="btn btn-default">-5</a>
 		  <a href="{% url 'webgui.views.volumeup' '5'%}" class="btn btn-default">+5</a>
		</div>
           </fieldset >
       </div>
   
    </body>
</html>
