<!DOCTYPE html>
<html>
    <!-- Head -->
    {% include 'head.html' %}
    <body>
       <!-- Navbar -->
        {% with "Option" as namepage  %}
            {% include 'navbar.html' %}
        {% endwith %}


	    <div class="container">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Volume</legend>
		<div>
                <h3>Current volume value : <span class="label label-primary">{{ currentVolume }}</span></h3>
                    {% if currentMute == 'on' %}
                        <a href="{% url 'webgui.views.volumetmute' %}"><button type="button" class="btn btn-primary">Click here to mute</button></a>
                    {% else %}
                        <a href="{% url 'webgui.views.volumetmute' %}"><button type="button"  class="btn btn-warning"><span class="glyphicon glyphicon glyphicon-volume-off" aria-hidden="true"></span> You are muted! Click here to unmute</button></a>
                    {% endif %}
		</div>
		<br>
                <div class="btn-group btn-group-lg btn-group-justified" style="margin-bottom:15px;">
                  <a href="{% url 'webgui.views.volumeset' '20'%}" class="btn btn-default">20 %</a>
                  <a href="{% url 'webgui.views.volumeset' '40'%}" class="btn btn-default">40 %</a>
                  <a href="{% url 'webgui.views.volumeset' '60'%}" class="btn btn-default">60 %</a>
                  <a href="{% url 'webgui.views.volumeset' '80'%}" class="btn btn-default">80 %</a>
                  <a href="{% url 'webgui.views.volumeset' '100'%}" class="btn btn-default">100 %</a>
                </div>
                <div class="btn-group btn-group-lg btn-group-justified" style="margin-bottom:15px;">
                  <a href="{% url 'webgui.views.volumedown' '5'%}" class="btn btn-default"><span class="glyphicon glyphicon-volume-down"></span></a>
                  <a href="{% url 'webgui.views.volumeup' '5'%}" class="btn btn-default"><span class="glyphicon glyphicon-volume-up"></span></a>
                </div>
           </fieldset >

           <fieldset class="scheduler-border">
                <legend class="scheduler-border">Backup MP3</legend>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
               <!-- actual MP3 -->
               <div class="well">Current backup: {{ backup }}</div>

                <form class="form-horizontal" action="{% url 'webgui.views.options' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label for="{{field.name}}" class="col-sm-2 control-label">
                                {{ field.label }}
                            </label>
                            <div class="col-sm-4">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!-- validate button -->
                            <button class="btn btn-primary" type="submit">
                                <span class="glyphicon glyphicon-upload"></span>
                                Upload MP3
                            </button>
                        </div>
                    </div>
                </form>
           </fieldset>

       </div>
   
    </body>
</html>
