<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <body>
    <!-- Navbar -->
    {% with "Web radio" as namepage  %}
        {% include 'navbar.html' %}
    {% endwith %}
    
    <div class="container">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="{% url 'webgui.views.addwebradio' %}" style="margin-bottom: 3px" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></a>  Web Radio</legend>
            <!-- list of saved web radio -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Play</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for radio in listradio %}
                        <tr>
                            <th>
                                {{radio.name }}
                            </th>
                            <th>
                               <a href="{% url 'webgui.views.play' radio.id %}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-play"></span>
                               </a>
                            </th>
                            <th>
                               <a href="{% url 'webgui.views.update_webradio' radio.id %}" style="margin-bottom: 3px" type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span>
                               </a>
                            </th>
                            <th>
                                <a href="{% url 'webgui.views.delete_web_radio' radio.id %}"style="margin-bottom: 3px" type="button" class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a> 
                            </th>
                        </tr>
                    {% empty %}
                    <p>No web radio set yet. </p>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset >   
           
    </div>
    
  </body>
</html>